<!DOCTYPE HTML>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>MilmSearch | メーリングリストの登録申請</title>
	<link href="../../../../../public/assets/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
	<link href="../../../../../public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../../../../../public/assets/css/tuning.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container-fluid">
	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggles="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="../../top/index.html">MilmSearch Ver.0.1</a>
				<nav class="nav-collapse">
					<ul class="nav nav-pills">
						<li><a href="../list.html">MLを見る</a></li>
						<li><a href="input.html">MLを登録する</a></li>
					</ul>
				</nav>
				<a href="../../top/help.html">ヘルプ</a><br>
				<a href="../../top/inquiry.html">お問い合わせ</a>
			</div>
		</div>
	</header>
	
	<section>
		<header class="page-header">
			<h1>メーリングリストの登録申請</h1>
		</header>
		<p>
			以下の内容でよろしいですか？<br>
			問題なければ、「申請する」ボタンを押して登録申請は完了です。
		</p>
		<table class="table table-bordered">
			<tbody>
			<tr>
				<th>申請者のお名前</th>
				<td>みるむ太郎</td>
			</tr>
			<tr>
				<th>連絡先メールアドレス</th>
				<td>
					sample@example.com
				</td>
			</tr>
			<tr>
				<th>メーリングリストのタイトル</th>
				<td>MilmSearch開発メーリングリスト</td>
			</tr>
				<th>メーリングリストのアーカイブソフトタイプ</th>
				<td>Mailman</td>
			</tr>
			<tr>
				<th>メーリングリスト公開アーカイブのURL</th>
				<td>http://aaa.com/archive.html</td>
			</tr>
			<tr>
				<th>ご質問やコメントをどうぞ</th>
				<td>よろしくお願いします！</td>
			</tr>
			</tbody>
		</table>
		
		<div class="clearfix">
			<a class="btn btn-large pull-left" href="input.html">修正する</a>
			<a class="btn btn-large pull-right btn-primary" href="complete.html">申請する</a>
		</div>
		
		</section>
	</section>
</div>
<footer id="footer">
	<div class="container-fluid">
		<a href="">ページトップへ</a>
		<nav>
			<ul>
				<li><a href="../../top/inquiry.html">お問い合わせ</a></li>
				<li><a href="../../top/rules.html">利用規約</a></li>
				<li><a href="../../top/poricy.html">プライバシーポリシー</a></li>
			</ul>
		</nav>
		<p>Copyright © MilmSearch All Rights Reserved.</p>
	</div>
</footer>


<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../../../public/assets/js/bootstrap.min.js"></script>
</body>
</html>