<!DOCTYPE HTML>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>MilmSearch | お問い合わせ</title>
	<link href="../../../../public/assets/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
	<link href="../../../../public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../../../../public/assets/css/tuning.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container-fluid">
	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggles="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="index.html">MilmSearch Ver.0.1</a>
				<nav class="nav-collapse">
					<ul class="nav nav-pills">
						<li><a href="../ml/list.html">MLを見る</a></li>
						<li><a href="../ml/proposal/input.html">MLを登録する</a></li>
					</ul>
				</nav>
				<a href="help.html">ヘルプ</a><br>
				<a href="inquiry.html">お問い合わせ</a>
			</div>
		</div>
	</header>
	
	<section>
		<header class="page-header">
			<h1>お問い合わせ</h1>
		</header>
		<p>MilmSearchについてのお問い合わせは、下記のメールアドレスまでご連絡ください。</p>
		<p><strong>webmaster@milmsearch.org</strong></p>
		<p>
			ご意見・ご感想もお待ちしております。<br>
			お問い合わせ内容を確認後、数日〜一週間程度でご連絡いたします。<br>
			しばらくお待ちください。
		</p>
		<nav>
		<a class="btn btn-primary btn-large" href="mailto:webmaster@milmsearch.org">問い合わせる</a>
		</nav>
		<p><small>※メーラーが開きます</small></p>
	</section>
</div>
<footer id="footer">
	<div class="container-fluid">
		<a href="">ページトップへ</a>
		<nav>
			<ul>
				<li><a href="inquiry.html">お問い合わせ</a></li>
				<li><a href="rules.html">利用規約</a></li>
				<li><a href="poricy.html">プライバシーポリシー</a></li>
			</ul>
		</nav>
		<p>Copyright © MilmSearch All Rights Reserved.</p>
	</div>
</footer>


<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../../public/assets/js/bootstrap.min.js"></script>
</body>
</html>