<!DOCTYPE HTML>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>MilmSearch | 利用規約</title>
	<link href="../../../../public/assets/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
	<link href="../../../../public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../../../../public/assets/css/tuning.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container-fluid">
	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggles="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="index.html">MilmSearch Ver.0.1</a>
				<nav class="nav-collapse">
					<ul class="nav nav-pills">
						<li><a href="../ml/list.html">MLを見る</a></li>
						<li><a href="../ml/proposal/input.html">MLを登録する</a></li>
					</ul>
				</nav>
				<a href="help.html">ヘルプ</a><br>
				<a href="inquiry.html">お問い合わせ</a>
			</div>
		</div>
	</header>
	
	<section>
		<header class="page-header">
			<h1>利用規約</h1>
		</header>
		<p>MilmSearchをご利用の前に、下記の規約をよくお読みになり、お申込みください。</p>
		<section>
			<h2>●●●●について</h2>
			<p>
				ダミーです。<br>
				Web上に公開されているメーリングリストのアーカイブを収集し、検索することができるサービスです。<br>
				登録されているメーリングリストを一覧表示して、探している情報が載っていそうなメーリングリストを探すことができます。
			</p>
		</section>
		<section>
			<h2>●●●●について</h2>
			<p>
				ダミーです。<br>
				公開メーリングリストを主催されているのであれば、ぜひ<a href="#">登録申請</a>を！<br>
				お申込みいただいたメーリングリストについて、運営チームで審査の後、MilmSearchに登録させていただきます。<br>
				審査結果のご連絡までは、数日かかることがあります。<br>
				※現在、Mailmanでアーカイブされているメーリングリストのみに対応しています。<br>
				　その他のアーカイブソフトをご利用の方は、登録申請か<a href="#">お問い合わせ</a>から、ご利用のソフト名を教えてください。
			</p>
		</section>
		<section>
			<h2>●●●●について</h2>
			<p>
				ダミーです。<br>
				せっかく申請いただいておきながら恐縮ですが、以下の理由にあてはまる場合、登録ができない場合がございます。<br>
				1.メーリングリストで、MilmSearchが未対応のアーカイブソフトをご利用の場合。<br>
				2.メーリングリスト内で公序良俗に反する話題を扱っている場合。<br>
				申し訳ございませんが、ご了承いただけますようよろしくお願いいたします。
			</p>
		</section>
	</section>
</div>
<footer id="footer">
	<div class="container-fluid">
		<a href="">ページトップへ</a>
		<nav>
			<ul>
				<li><a href="inquiry.html">お問い合わせ</a></li>
				<li><a href="rules.html">利用規約</a></li>
				<li><a href="poricy.html">プライバシーポリシー</a></li>
			</ul>
		</nav>
		<p>Copyright © MilmSearch All Rights Reserved.</p>
	</div>
</footer>


<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../../public/assets/js/bootstrap.min.js"></script>
</body>
</html>